<div>
  <form class="search-form" [@moveToTop]="isScrolled ? 'finish' : 'begin'">
    <mat-form-field class="search-bar">
      <input type="text" 
             matInput 
             [formControl]="searchControl"
             class='search-input'
             placeholder="Search images">
      @if (searchControl.hasError('required') && searchControl.touched) {
        <mat-error class='error-msg'>Search text is required</mat-error>
      }
    </mat-form-field>
  </form>
  <app-image-grid></app-image-grid>
</div>

