<div>
  <app-search-form [username]="user.username" (isLoginFormVisible)="showLoginForm($event)"></app-search-form>
  <amplify-authenticator variation="modal" [style]="{'display': isLoginVisible ? 'block' : 'none'}">
    <ng-template
      amplifySlot="authenticated"
      let-user="user"
      let-signOut="signOut"
    >
      @if (user.username) {  
      <app-snack-bar [username]='user.username'></app-snack-bar>
      }
    </ng-template>
  </amplify-authenticator>
  <app-image-grid></app-image-grid>
</div>
